<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      py:with="preview_mode = 'preview' in req.args">
  <xi:include href="layout.html" />
  <head>
    <title>You are anonymous</title>
  </head>
  <body>
<div align="right"><a href="${href.login()}" title="you need to login first!">更多</a> </div>
<h1>已有项目</h1>

<div>
<center><xi:include href="page_index.html"/></center>
<table class="listing">
<tr>
<th>项目名</th><th>项目描述</th><th>创建者</th><th>Email</th><th>创建时间</th>
</tr>
<tr py:for="project in approved_projects">
    <td><a href="${base_url}/${project.proj_name}">${project.proj_full_name}</a></td>
    <td><span title='${project.description}'>${project.short_description}</span></td>
    <td>${project.owner}</td>
    <td>${project.email}</td>
    <td>${project.exam_time}</td>
</tr>
</table>
</div>
</body>
</html>

