<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      py:with="preview_mode = 'preview' in req.args">
  <xi:include href="layout.html" />
  <head>
  <title>Apply failed</title>
   
  </head>
  <body>
     该项目名已经存在或已经有人比你先申请这个项目了，请选用别的项目名！<br/>
  <div align="right"><a href="apply">返回申请页面</a></div>

  </body>
  </html>
